.playerCard {
	width: 30%;
	display: inline-block;
	min-height: 500px;
	background: linear-gradient(to bottom right, $color-light, $color-dark);
	border-radius: 10px;
	box-shadow: 0rem 1.8rem 5rem rgba($color: #fff, $alpha: 0.5);
	margin: 1rem;

	@media (max-width: 1060px) {
		width: 40%;
	}

	@media (max-width: 600px) {
		width: 80%;
	}

	&__img {
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}
	}

	&__content {
		font-family: "Roboto", sans-serif;
		width: 70%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-content: space-between;
		flex-direction: column;
		align-items: center;
		padding: 2rem 0;
	}

	&-controller {
		display: flex;
		list-style: none;
		width: 80%;
		justify-content: space-between;

		&__item {
			position: relative;
			display: flex;
			align-items: center;
			width: 3rem;
			height: 3rem;
			transition: all 0.2s;
			font-size: 30px;
		}
	}

	&__playbar {
		width: 100%;
		margin-top: 3rem;

		&--timer {
			margin-top: 1rem;
			width: 100%;
			display: flex;
			justify-content: space-between;
			font-size: 1.6rem;
		}
	}

	&__progress {
		width: 100%;
		background: #000;
		height: 0.5rem;
		border-radius: 5px;
		cursor: pointer;
	}

	&__description {
		width: 100%;
		text-align: center;
		margin-top: 2rem;

		&--song-name {
			font-size: 2.5rem;
			transition: all 0.5s;
			margin-bottom: 1rem;
			text-transform: capitalize;
		}

		&--artist {
			font-size: 2rem;
			font-style: italic;
			font-weight: lighter;
		}
	}
}

.control-btn {
	height: 100%;
	width: 100%;
	position: absolute;
	cursor: pointer;
}

.playlist {
	width: 60%;
	font-family: "Roboto", sans-serif;

	@media (max-width: 600px) {
		position: absolute;
		width: 100%;
		margin-top: 5rem;
	}

	&__item {
		display: flex;
		font-size: 1.6rem;
		padding: 1.5rem;
		height: 5rem;
		align-items: center;
		cursor: pointer;
		transition: background 0.3s;

		&:hover {
			background: hsla(0, 0%, 100%, 0.1);
		}

		&__icon {
			width: 3rem;
			height: 100%;
			margin-right: 1.5rem;
			display: flex;
			align-items: center;

			&--1 {
				background: url("../images/music-solid.svg");
				background-repeat: no-repeat;
				width: 100%;
				height: 50%;
			}
		}

		&__description {
			flex: 1 1 0;

			&--line-2 {
				span {
					color: rgb(189, 175, 175);
				}
			}
		}

		&__more {
			padding: 2rem;
			position: relative;

			&__dropdown {
				position: absolute;
				min-width: 20rem;
				top: 65%;
				right: 65%;
				background: #282828;
				opacity: 0;

				li {
					list-style: none;
					padding: 1rem 0;
					width: 100%;
					text-align: center;
					cursor: pointer;
					transition: all 0.3s;
					color: #948c8c;

					&:hover {
						background: #333;
						color: #fff;
					}
				}
			}
		}

		&__duration {
			color: rgb(189, 175, 175);
		}
	}
}

.playing {
	margin-right: 1rem;
}

.playing-effect {
	color: #1ed760;
}

.progress-bar {
	height: 100%;
	background: orangered;
	position: relative;
	width: 0;
	border-radius: 5px;

	&::after {
		content: "";
		position: absolute;
		height: 1rem;
		width: 1rem;
		top: -3px;
		right: -2px;
		border-radius: 50%;
		background: #fff;
	}
}
